*{
    margin: 0;
    padding: 0;

}

.header{    
    height: 923px;
    
}


.header-nav{
    width: 1440px;
    height: 120px;
}

.container{
    width: 1170px;
    height: 50px;
    margin-top: 50px;
  
}



.navbar-nav{
    margin: auto;
    
}
.navbar-social-media{
    margin-left: 10px;
    
}


.navbar-social-media-circle{
    color: #00788A;
}

.ul-navbar-nav-li-a{
    color: #4A5658;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    
}

.line{
    color: #74DCDF; 
    margin: auto;
    width: 1170px;
    
}

.header-wrap-image{
    position:relative
}

.header-wrap-text{
    position:absolute;
    left:10px;
    top:10px
}

.header-wrap-text h1{
    margin-left: 420px;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: #00788A;
}
.header-wrap-button-div{
    text-align: center;
    margin-left: 420px;
    margin-top: 100px;
    
}

.header-wrap-button{
    width: 200px;
    height: 50px;
    background-color: #00BFC4;
    color: #F8F5FF;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.header-wrap-button:hover{
    background-color: #00788A;
}

.subscribe-container{
    background-color: #00788A;
    width: 1170px;
    height:280px;


}
.subscribe-heading{
    color: #fff;
    font-family:'Josefin Sans', sans-serif ;
    text-align: center;
    padding-top: 20px;
}


.subscribe-input {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 150px;
    
}



.input-mail{
    width: 330px;
    height: 70px;
    border-radius: 9px;
    opacity: 0.3;
    background-color: #74DCDF;
    box-shadow: 2px 5px  #000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   
    
    
    
}

::-webkit-input-placeholder {
    color: #000;
    
 }
  

.button {
    width: 170px;
    height: 70px;
    border-radius: 9px;
    color: #191C2F;
    background-color: #fff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-left: 15px;
   font-family: 'Poppins', sans-serif;
    
}



