body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}




.container{
    width: 1170px;
    height: 50px;
    margin-top: 50px;
}




.navbar-social-media-circle{
    color: #00788A;
}


.ul-navbar-nav-li-a{
    color: #4A5658;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    
    
}

.line{
    color: #74DCDF; 
    margin: auto;
    width: 1170px;
    
}




.header-wrap{
    position:relative;
    
}


.header-wrap-image{
    margin-left: 130px; 
    
    
}

.header-wrap-content{
    position:absolute;
    
    left: 170px;
    top: 130px;
}
.header-wrap-text-div{
    padding-left: 410px;
    

}
.header-wrap-text{    
    font-family: 'Josefin Sans', sans-serif;
    color: #00788A;
    
}


.header-wrap-button-div{
    text-align: center;
    margin-left: 400px;
    margin-top: 160px;
    
}

.header-wrap-button{
    width: 200px;
    height: 50px;
    background-color: #00BFC4;
    color: #F8F5FF;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.header-wrap-button:hover{
    background-color: #00788A;
}






.subscribe-container{
    background-color: #00788A;
    text-align: center;
    

}

.subscribe-heading{
    color: #fff;
    font-family:'Josefin Sans', sans-serif ;
    text-align: center;
    padding-top: 20px;
}




.button {
    width: 170px;
    height: 50px;
    margin-top: 30px;
    border-radius: 9px;
    opacity: 0.8;
    color: #191C2F;
    background-color: ghostwhite;
    font-family: 'Poppins', sans-serif;
    
    
}

.button:hover{
        background-color: #e6e6e6;
        color: #000;
}


.wrap-input100 {
    position: relative;
    text-align: center;
    width: 350px;
    z-index: 1;
    opacity: 0.9;
    margin-left: 580px;
    margin-top: 50px;
  }
  
  .input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 350px;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #00BFC4;
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    font-size: 15px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #00BFC4;
    padding-left: 28px;
  }


  